# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# MLflow local tracking
mlruns/
**/mlruns/

# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Streamlit local config/secrets
.streamlit/secrets.toml

# Logs
*.log

# Temporary files
*.tmp
*.temp
